<BarMenu/>

@switch(window){
    @case("home"){
        <banner [image]="home.banner.image" [title]="home.banner.title" [subtitle]="home.banner.subTitle"/>
        <news [type]="requiredNews[0]" [lastEntries]="entries"/> <hr>
        <news [type]="requiredNews[1]" [lastEntries]="entries"/> <hr>
        <news [type]="requiredNews[2]" [lastEntries]="entries"/>
    }
    @case("blog"){
        <banner/>
    }
    @case("projects"){

    }
    @case("habilities"){
        
    }
    @case("contact"){

    }
}

<endPage/>
<router-outlet />
