/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f57b7b;
    color: white;
  }
  
button{
  height: 40px;
  border-width: 3px;
  border-radius: 50px;
  border-color: #bfdecc;
  font-size: 15px;
  transition: border-color .2s, font-size .2s;

  &:hover{
    border-color: #7fdb58;
    font-size: 17px;
  }
}